<h1>This is my page for <%= @car.brand %></h1>

<ul>
  <li><%= @car.model %></li>
  <li><%= @car.year %></li>
  <li><%= @car.fuel %></li>
</ul>

<%= simple_form_for [@car, @review] do |f| %>
  <%= f.input :comment %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.submit %>
<% end %>

<% if @car.favourites.empty? %>
  <%= simple_form_for [@car, @favourite] do |f| %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p class="btn btn-warning">car in your garage</p>
<% end %>




<h3><%= "Here are the reviews:" %></h3>
<ul>
<% @car.reviews.each do |review| %>
<li><%= review.comment %></li>
<li><%= "#{review.rating} *" %></li>
<% end %>
</ul>
